<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO  역할을 수행하는 Interface를 Mybatis에서 Mapper라고 한다 -->
<mapper namespace="egovframework.example.sample.service.impl.MemberMapper">

	<insert id="insert" parameterType="MemberVO">
		<![CDATA[
			insert into member(member_id, id ,pass, name) values(seq_member.nextval, #{id}, #{pass},#{name})
		]]>
	</insert>

</mapper>